<app-header titulo="mapa"></app-header>

<ion-content>
    <ion-card>
        <div id="map" style='width: 100%; height: 400px;'></div>
        <ion-card-header>
            <ion-card-subtitle>Ubicación</ion-card-subtitle>
            <ion-card-title>Lugar en él que te encuentras</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            La aplicación te pedira, prender o activar el GPS, para mostrar la ubicación en la que te encuentras en el mapa
        </ion-card-content>
    </ion-card>
</ion-content>
