<ion-header>
  <ion-toolbar>
    <ion-title>
      Geolocalización
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let routeList of routeLists" [routerLink]="routeList.redirectTo" detail>
      <ion-icon slot="start" [name]="routeList.icon"></ion-icon>
      <ion-label>{{routeList.name}}</ion-label>
    </ion-item>
  </ion-list>
    <!-- <ion-button >Map</ion-button>
    <ion-button routerLink="/load-route">Cargar Archivo GPX</ion-button> -->
</ion-content>
